schedules/raw
ships/*.lua.gz
ships/*.lua
*.bak
*.swp
selected_schedule.csv
*.no_asterisks
*clean.sh
**/__pycache__
**\~undo-tree\~

# !schedules/out/
# schedules/*
tags
tags*
drrt-scheduler
drrt-namer

credentials.json
token.json
